<div class="averageStars mb-2 d-inline">
    <% if (typeof relevantReviews === 'undefined') { %>
        Your rating:
    <% } %>
    <% for(let i = 0;i<5;i++) { %>
        <% if(i < rating) { %>
            <!-- show full star -->
            <i class="fas fa-star"></i>
        <% } else if( (rating-i) > 0 && (rating-i) < 1 ) { %>
            <!-- show half star -->
            <i class="fas fa-star-half-alt"></i>
        <% } else { %>
            <!-- show empty star -->
            <i class="far fa-star"></i>
        <% } %>
    <% } %>
    <% if(typeof relevantReviews !== 'undefined' ) { %>
        <%= (relevantReviews.length ? (relevantReviews.length + " Review" + (relevantReviews.length === 1 ? '' : 's') ): 'No Reviews Yet') %>
    <% } %>
</div>