<div class="averageStars mb-2 d-inline">
    <% switch (resourceType) { 
        case 'Review': %>
        Your Rating: 
        <% break;
        case 'Book': %>
        Average Rating: 
        <% break; %>
    <% } %>
    <% for(let i = 0;i<5;i++) { %>
        <% if(i < rating) { %>
            <!-- show full star -->
            <i class="fas fa-star"></i>
        <% } else if( (rating-i) > 0 && (rating-i) < 1 ) { %>
            <!-- show half star -->
            <i class="fas fa-star-half-alt"></i>
        <% } else { %>
            <!-- show empty star -->
            <i class="far fa-star"></i>
        <% } %>
    <% } %>
    <% if(numberOfRatings) { %>
        <%= numberOfRatings + " Review" + (numberOfRatings === 1 ? '' : 's') %>
    <% } else { %>
        No Reviews Yet
    <% } %>
</div>