<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= typeof title !== 'undefined' ? title : 'Book Tracker' %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=.9, shrink-to-fit=no">
		<link rel="icon" href="/images/favicon.png" type="image/x-icon/">
		<!-- bootstrap styles -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<!-- google fonts Latio import -->
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<!-- FontAwesome styles and scripts -->
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<script src="https://kit.fontawesome.com/75e02839f8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<!-- <link rel="stylesheet" href="/stylesheets/lmdd.css"> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/starability@2.4.0/starability-css/starability-all.min.css">
    </head>
    <body>
		<header>
			
			<div class="container">
				<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top" id="navbar">
				  <a class="navbar-brand js-scroll-trigger" href="/">Book Tracking</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHamburger" aria-controls="navHamburger" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<span class="icon-bar hamburger-bar"></span>
						<span class="icon-bar hamburger-bar"></span>
						<span class="icon-bar hamburger-bar"></span>
					</span>
				  </button>
				  <div class="collapse navbar-collapse" id="navHamburger">
					<a class="nav-link js-scroll-trigger" href="/">Dashboard</a>
					<a class="nav-link js-scroll-trigger" href="/books/read?author=<%= currentUser.id %>&resource=Review&page=1">Books I've Read</a>
					<a class="nav-link js-scroll-trigger" href="/books/recommendations?resource=Book&page=1">Recommendations</a>
					<a class="nav-link js-scroll-trigger" href="/books?resource=Book&page=1">Browse Books</a>
				  </div>
				</nav>
			</div>	
		</header>
		<main class="pt-4">	
			<div class="container flash" id="flashMessages">
				<% if(typeof success !== 'undefined' && success.length) { %>
					<div class="alert alert-success">
						<%= success %>
					</div>
				<% } %>
				<% if(typeof error !== 'undefined' && error.length) { %>
					<div class="alert alert-danger">
						<%= error %>
					</div>
				<% } %>
			</div>
			<!--[if lt IE 10]>
				<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->

