<div class="card-columns">
    <% for (let document of results.docs) { %>
        <% switch (resourceType) { 
            case 'Review': %>
            <%- include('review-card', {document}) %> 
            <% break; 
            case 'Book': %>
            <%- include('book-card', {document}) %> 
            <% break; 
            case 'Tag': %>
            <%- include('tag-card', {document}) %> 
            <% break; 
            default: %>
            <p>No Results for that Resource Type</p>
        <% }; %>
    <% }; %>
</div>