<template id="quick-result">
    <div class="tag searched-tag"
        data-bs-toggle="tooltip" 
        data-bs-html="true" 
        title=""
    >
        <label for="" class="tag-label">
                    
                    <span class="remove-tag-x not-visible">&nbsp;X</span>
                    <span class="add-tag-plus">&nbsp;+</span>
        </label>
        <input type="checkbox" name="review[tags]" class="tag-checkbox" checked id="" value="">
    </div>
</template>

