<%- include('partials/header') %> 
<div class="container">
    <h1>Register</h1>
    <div class="row">
        <div class="col-6">
            <form action="/register" method="POST" id="register-form" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <label for="username" class="form-label input-group-text">Username</label>
                    <input type="text" class="form-control" id="username" name= "username" placeholder="ILuvBooks101" value="<%= typeof username !== 'undefined' ? username: '' %>">
                </div>
                <div class="input-group mb-3">
                    <label for="email" class="form-label input-group-text">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="<%= typeof emailAddress !== 'undefined' ? emailAddress: '' %>">
                </div>
                <div class="input-group mb-3">
                    <label for="password" class="form-label input-group-text">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="input-group mb-3">
                    <label for="confirmPassword" class="form-label input-group-text">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                </div>
                <div class="input-group mb-3">
                    <label for="profilePicture" class="form-label input-group-text">Profile Picture</label>
                    <input class="form-control" type="file" id="image" name="image">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') %> 