body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* a {
  color: #00B7FF;
} */

img.book-thumbnail {
  max-height:20em;
}

/* .book-card-title {
  color: #fff;
  background-color: rgba(145, 145, 145, 0.5);
} */

ul.tags {
  list-style-type: none;
}

li.tag {
  max-width: 100%;
  display: inline;
}

a.bucket1 {
  background-color: lightyellow;
  font-size: .75em;
}
a.bucket2 {
  background-color: lightgreen;
  font-size: 1em;
}
a.bucket3 {
  background-color: lightblue;
  font-size: 1.2em;
}
a.bucket4 {
  background-color: coral;
  font-size: 1.5em
}
a.bucket5 {
  background-color: rgb(172, 41, 172);
  color: white;
  font-size: 2em;
}

a.powered-by-google {
  display: block;
}

form.unpublish-book, form.delete-book {
  display: inline;
}

.tag {
  display: inline;
}

.tag-checkbox {
  display: none;
}

.tag-label {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: #e9ecef;
  padding: .5em;
}

.remove-tag-x {
  font-weight: bold;
  cursor: pointer;
}